.Player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Player img{
    position:absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}
.Player iframe{
    border-radius: 10px;
    height: 750px;
    width: 1500px;
  
}
.player-info{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 99%;
}

@media (max-width:1525px) {
  .Player iframe{
    height: 700px;
    width: 1200px;
  }
}
@media (max-width:1350px) {
  .Player iframe{
    height: 600px;
    width: 1100px;
  }
}